* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    transition: .4s ease-in-out;
    background-color: antiquewhite;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0;
}

body {
    max-width: 100vw;
}

header {
    margin: 2rem 0;
}

#herois {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
}

img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-style: dashed;
    border-radius: 1rem;
}

img.hero:hover {
    transform: scale(2);
    margin-top: 3rem;
    transition: .3s ease-in-out;
}

article {
    width: 250px;
    height: 270px;
    border: solid;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    box-shadow: .3rem .3rem 1rem black;
    margin: 2rem;
    max-width: 250px;
    max-height: 300px;
}

article.hover:hover {
    display: inline-block;
    transform: scale(1.05);
}

.ocultar {
    display: none;
}

.dados {
    border: 1px solid black;
    border-radius: .5rem;
    width: 50%;
    margin: 0 auto 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    gap: .5rem;
}

.dados div {
    border-radius: 50%;
    border: 1px solid black;
    padding: .2rem;
    overflow: hidden;
}

input {
    border: none;
}

i {
    color: orangered;
}

input[type="checkbox"] {
    display: none;
}
section {
    overflow: hidden;
}
section:hover{
    transform: scale(1.1);
    background-color: darkblue;
    box-shadow: 10px 10px 10px 100px orangered;
}
ul {
    columns: 3;
    list-style: none;
    overflow: hidden;
}

li {
    display: inline-block;
    padding: .5rem;
}

p{
    text-align: center;
    max-width: 60vw;
    padding: 0 0;
}

fieldset {
    width: 70vw;
    margin: 2rem auto;
    border-radius: 1rem;
}

legend {
    border: 1px solid;
    padding: .3rem;
    border-radius: 1rem;
}

.detalhes {
    position: fixed;
    padding: 1rem;
    top: -1px;
    height: 100vh;
    width: 100vw;
    align-self: center;
    background: rgba(000,000,000,0.5);
    display: none;
    overflow: scroll;
}


button {
    margin: .5rem;
    padding: .2rem;
}


@media (max-width: 870px) {
    .dados{
        display: block;
        text-align: center;
    }
    .dados div{
        display: inline-block;
        text-align: center;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 auto;
    }
    .dados div .icone {
        width: 2rem;
        height: 2rem;
    }
    .botoes {
        display: block;
        width: 50%;
        margin: 0 auto 2rem;
    }
    input[type="text"]{
        width: 40vw;
    }

}
